{%extends "base/base.html" %}

{% block block1 %}
<h1 style="margin:20px auto; text-align: center;">분리수거 가능 품목</h1>
<hr>
<h2>{{errMsg}}</h2>
{%for board in boards%}
<a href="{% url 'recycleapp:detail' board.id %}">{{board.waste_name}}</a><br>
{% endfor %}
{% endblock %}
{% block block2 %}
<div class="container" sytle="height:1000px;">
    {% for po in Cate %}
    
    <div class="card item" style="width: 18rem; ">
        <img src= "{{po.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{po.waste_name}}</h5>
          <p class="card-text">{{po.tag}} -자세히 보려면 ?</p>
          <a href="{% url 'recycleapp:detail' po.id %}" class="btn btn-primary">{{po.waste_name}}</a>
          
        </div>
      </div>   
      <br>
    {% endfor %}
  </div>

{% endblock %}
{% block block3 %}
{% endblock %}