  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>재활용의 정석</title>
  </head>
  <body>
    <div class="contain" style="height: 500px">
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><img style="margin:200px auto 50px auto; height: 170px; width:420px;" src="media/배경.PNG"></div>
          <div class="col-md-2"></div>
          <div class="col-md-1" style="text-align: right; padding:0;">
              {% if a %}
              <a href="{% url 'logout' %}"> Logout</a>
              <br>
            {% else %}
              <a href="{% url 'login' %}"> Login</a>
              <br>
            {% endif %}
          </div>
          <div class="col-md-1">{{b}}</div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-12"></div>
          <div class="col-md-4 col-sm-12">
              <form action="{% url 'recycleapp:home' %}" method="GET">
                  <div class="input-group input-group-lg" style="width: 420px;">
                      <input type="text" class="form-control" aria-label="Sizing example input"
                             aria-describedby="inputGroup-sizing-lg" name="search">
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="submit" id="button-addon1">엇따버려?</button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-md-4 col-sm-12"></div>
      </div>
      <div class="row" style="margin-top:20px;">
          <div class="col-md-4 col-sm-12"></div>
          <div class="col-md-4 col-sm-12">
            <div class="row">
              <div class="col-4"style="text-align: right; padding:0;">
                  <a href="{% url 'recycleapp:board' %}"> Board</a>
              </div>
              <div class="col-4"></div>
              <div class="col-4">
                  <a href="{% url 'main' %}">SS_ba</a>
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-sm-12"></div>
      </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

