<head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <title>재활용의 정석</title>
                <style>
                  .container {
                    display:flex; flex-wrap:wrap; justify-content: space-between;
                  }
                  .item {
                    align-items:flex-end; 
                  }
                </style>
              </head>
              <body>
                        {%extends "base/base.html" %}

                        {% block block1 %}

        <div class="container">
                <div class="row" style="margin: 150px auto;">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                <div class="form-group">
                    <label for="title">User Name :</label>
                    <input type="text" class="form-control" name="u_id">
                </div>
            
                <div class="form-group">
                    <label for="body">Password :</label>
                    <input type="password" class="form-control" name="u_pw">
                </div>
                <input class="btn btn-block" type="submit" value="Login">
                </form> 
                </div>
        </div>
        {% endblock %}
</body>